<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Latte</string>
	<key>CFBundleExecutable</key>
	<string>Latte</string>
	<key>CFBundleIdentifier</key>
	<string>com.caramel.Latte</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Latte</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIconName</key>
	<string>Latte</string>
	<key>CFBundleIconFile</key>
	<string>Latte.icns</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>
